@import '../../styles/settings.scss';

.searchForm {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  height: auto;
}

@media (max-width: 630px) {
  button {
    width: 100%;
  }
  input {
    width: 100%;
    margin: 0;
  }
}